{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/device_view.css' %}{% endblock %}
{% block Devices %}active{% endblock %}

{% block body %}
    <h2>{{device.device_name}}</h2>
    <h4>Device Type: {{device.type_equip}}</h4>
    <h4>Manufacturer: {{device.manufacturer}}</h4>
    <h4>Model Number: {{device.model_number}}</h4>
<div class="card-block">

<h4 id="question_list_header">Questions</h4>
<ul>
  <ul class="list-group">
    {% for q in device.questions %}
    <div class="row">
      <li class="list-group-item">
        <span>{{q.question_text}}</span>
      </li>
    </div>
    {% endfor %}
  </ul>
</ul>

<h4 id="barcode_list_header">Barcodes</h4>
<ul class="barcodes">
  <ul class="list-group">
    {% for item in items %}
    <div class="row">
      <li class="list-group-item">
        <a onclick="jsfunction()" href="javascript:void(0);" class="pull-right pad-left">Remove</a>
        <span>{{item.item_barcode_num}}</span>
      </li>
    </div>
    {% endfor %}
  </ul>
</ul>

</div>
<div class="container">
  <form>
    <div class="input-group">
       <input type="text" class="form-control" placeholder="Barcode">
       <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="submit_form()">Add Barcode</button>
       </span>
    </div>
  </form>
</div>

<script>
    function submit_form() {
      var form_data = {};
      form_data['barcode'] = $('.form-control').val();

      console.log(JSON.stringify(form_data));

      $.ajax({
          url: "/questions/device/view/{{dev_pk}}/",
          type: "POST",
          data: JSON.stringify(form_data),
          contentType: "application/json",
          success: function() {
              alert('Data submitted successfully!');
              location.reload();
          },
          error: function() {
              alert('Data could not be submitted.');
          }
      });
    };

</script>

{% endblock %}
