{% extends 'questions/base.html' %}

{% block Devices %}active{% endblock %}

{% block body %}
    <h2>Devices</h2>

    <ul>
      <ul class="list-group">
        {% for device in devices %}
            <a href="{% url 'questions:deviceView' device.id %}" class="list-group-item">
              {{device.device_name}}
              <span class="text-align center pull-right">{{device.type_equip}}</span>
            </a>
        {% endfor %}
      </ul>
    </ul>

    <a class="btn btn-primary" href="{% url 'questions:deviceadd' %}">
      Add Device
    </a>

{% endblock %}
