{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/devices.css' %}{% endblock %}
{% block Devices %}active{% endblock %}

{% block body %}
    <h2>Devices</h2>

    <ul>
      <ul class="list-group">
        {% for device in devices %}
        <li class="list-group-item">
            <a href="{% url 'questions:deviceView' device.id %}">{{device.device_name}}</a>
            <a href="#" class="pull-right pad-left">Remove</a>
            <a href="#" class="pull-right pad-left">Edit</a>
            <span class="pull-right">{{device.type_equip}}</span>
        </li>
        {% endfor %}
      </ul>
    </ul>

    <a class="btn btn-primary" href="{% url 'questions:deviceadd' %}">
      Add Device
    </a>

{% endblock %}
