{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/devices.css' %}{% endblock %}
{% block Devices %}active{% endblock %}

{% block body %}
    <h2>Devices</h2>

    <ul>
      <ul class="list-group">
        {% for device in devices %}
        <li class="list-group-item">
            <span class="device_id">{{device.id}}</span>
            <a href="{% url 'questions:deviceView' device.id %}">{{device.device_name}}</a>
            <a onclick="delete_device($(this))" href="javascript:void(0);" class="pull-right pad-left">Remove</a>
            <span class="pull-right">{{device.type_equip}}</span>
        </li>
        {% endfor %}
      </ul>
    </ul>

    <a class="btn btn-primary" href="{% url 'questions:deviceadd' %}">
      Add Device
    </a>

    <script>
        function delete_device(link) {
            var to_delete = {};
            to_delete['device'] = link.parent().find(".device_id").text();

            console.log(JSON.stringify(to_delete));

            $.ajax({
                url: "/questions/delete/",
                type: "POST",
                data: JSON.stringify(to_delete),
                contentType: "application/json",
                success: function() {
                    location.reload();
                },
                error: function() {
                    alert('Server error. Could not delete device.');
                }
            });
        }
    </script>

{% endblock %}
