{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/add_device.css' %}{% endblock %}
{% block body %}
<div class="container">
    <form>
        <div class="form-group form-items">
            <div class="item">
                <label for="description">Device</label>
                <input type="text" class="form-control" id="deviceName" placeholder="Device Name">
                <input type="text" class="form-control" id="manu" placeholder="Manufacturer">
                <input type="text" class="form-control" id="modelNum" placeholder="Model Number">
                <input type="text" class="form-control" id="type" placeholder="Device Type">
                <div class="item-questions">
                    <label for="question">Device Questions</label>
                    <div class="item-input">
                      <input type="text" class="form-control item-question" placeholder="Question">
                    </div>
                </div>
                <button type="button" onclick="add_question_field($(this))" class="btn btn-primary add-question">
                        Add Device Question
                </button>
            </div>
        </div>
        <button type="button" onclick="submit_form()" class="btn btn-primary">
                Submit
        </button>
    </form>
</div>
<script>
    function submit_form() {
        var form_data = {};

        form_data['device_name'] = $('#deviceName').val();
        form_data['manu'] = $('#manu').val();
        form_data['model_number'] = $('#modelNum').val();
        form_data['type'] = $('#type').val();

        var questions = [];
        $('.item-questions').children('.item-input').each(function() {
            questions.push($(this).find('.item-question').val());
        });
        form_data['questions'] = questions;

        form_data['barcodes'] = [];

        console.log(JSON.stringify(form_data));

        $.ajax({
            url: "/questions/adddevice/",
            type: "POST",
            data: JSON.stringify(form_data),
            contentType: "application/json",
            success: function() {
                alert('Data submitted successfully!');
                location.reload();
            },
            error: function() {
                alert('Data could not be submitted.');
            }
        });
    };
</script>
{% endblock %}
