{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/locations.css' %}{% endblock %}
{% block Locations %}active{% endblock %}
{% block body %}

<h2>Locations</h2>
<ul class="list-group">
    {% for loc in Location %}
    <li class="list-group-item">
        <span id="loc_id">{{loc.id}}</span>
        <a onclick="jsfunction()" href="javascript:void(0);" class="pull-right pad-left">Remove</a>
        <a href="{% url 'questions:locationView' loc.id %}">{{loc.loc_name}}</a>
        <span class="glyphicon {% if loc %}glyphicon-ok{% else %}glyphicon-remove{% endif %} pull-right" aria-hidden="true"></span>
        <span class="text-align center pull-right">{{loc.num_devices}}</span>
    </li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'questions:locationadd' %}">
  Add Location
</a>
{% endblock %}
