{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/add_location.css' %}{% endblock %}
{% block body %}
    <div class="container">
        <form>
            <div class="form-group">
                <label for="admin">Administrator</label>
                <input type="text" class="form-control" id="admin" placeholder="Administrator">
            </div>
            <div class="form-group">
                <label for="location ID">Location Information</label>
                <input type="text" class="form-control" id="locationID" placeholder="Location Barcode">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location_description" placeholder="Location Description">
            </div>
            <div class="form-group location-questions">
                <label for="location ID">Location Questions</label>
                <div class=loc-question>
                  <input type="text" class="form-control location-question" placeholder="Question">
                </div>
            </div>
            <button type="button" onclick="add_location_question($(this))" class="btn btn-primary add-loc-question">
                    Add Location Question
            </button>
            <label for="description" id="devices_label">Devices</label>
            <div class="devices">
                {% for device in devices %}
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{device.device_name}}</span>
                        <span> - </span>
                        <span id="device_type">{{device.type_equip}}</span>
                    </label>
                {% endfor %}
            </div>
            <button type="button" onclick="submit_form()" class="btn btn-primary">
                    Submit
            </button>
        </form>
    </div>
    <script>
        function submit_form() {
            var form_data = {};
            var items = [];
            form_data['loc_barcode_name'] = $('#location_description').val();
            form_data['loc_barcode_num'] = $('#locationID').val();

            $('.devices').children('.custom-checkbox').each(function() {
                if($(this).find('.custom-control-input').is(':checked')) {
                    var item = {};
                    item['admin'] = $('#admin').val();
                    item['device_name'] = $(this).find('.custom-control-description').text();
                    item['device_type'] = $(this).find('#device_type').text();
                    items.push(item);
                }
            });    
            form_data['items'] = items;

            var loc_questions = [];
            $('.location-questions').children('.loc-question').each(function() {
                loc_questions.push($(this).find('.location-question').val());
            });
            form_data['loc_questions'] = loc_questions;

            console.log(JSON.stringify(form_data));

            // $.ajax({
            //     url: "/questions/addlocation/",
            //     type: "POST",
            //     data: JSON.stringify(form_data),
            //     contentType: "application/json",
            //     success: function() {
            //         alert('Data submitted successfully!');
            //         location.reload();
            //     },
            //     error: function() {
            //         alert('Data could not be submitted.');
            //     }
            // });
        };
    </script>
{% endblock %}
