{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/locations.css' %}{% endblock %}
{% block Locations %}active{% endblock %}
{% block body %}

<h2>Locations</h2>
<ul class="list-group">
    {% for loc in Location %}
    <li class="list-group-item">
        <span class="loc_id">{{loc.id}}</span>
        <a onclick="delete_location($(this))" href="javascript:void(0);" class="pull-right pad-left">Remove</a>
        <div class="col-sm-2">
          <a class="loc" href="{% url 'questions:locationView' loc.id %}">{{loc.loc_name}}</a>
        </div>
        <span class="user_assigned">User Assigned: {{loc.user_assigned}}</span>
        <span class="glyphicon {% if loc %}glyphicon-ok{% else %}glyphicon-remove{% endif %} pull-right pad-top" aria-hidden="true"></span>
        <span class="text-align center pull-right">{{loc.num_devices}}</span>
    </li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'questions:locationadd' %}">
  Add Location
</a>

<script>
      function delete_location(link) {
          var to_delete = {};
          to_delete['location'] = link.prev().text();

          console.log(JSON.stringify(to_delete));

          $.ajax({
              url: "/questions/delete/",
              type: "POST",
              data: JSON.stringify(to_delete),
              contentType: "application/json",
              success: function() {
                  location.reload();
              },
              error: function() {
                  alert('Server error. Could not delete location.');
              }
          });
      }
  </script>
{% endblock %}
