{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block sheet %}{% static 'questions/location_view.css' %}{% endblock %}
{% block Locations %}active{% endblock %}

{% block body %}
    <h2>Location: {{location.loc_name}}
      {% if location %}
      <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
      {% endif %}
    </h2>
    <p>Owner: {{location.user_assigned}} </p>
    <p>Barcode: {{location.loc_barcode_num}}</p>

<h4>Questions:</h4>


  <ul class="list-group">
      {% for q in location.questions %}

        <li class="list-group-item">
          {{q.question_text}}
          {% if q %}
          <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
          {% endif %}
        </li>

      {% endfor %}
  </ul>


<h4>Devices:</h4>

  <ul class="list-group">
    <li class="list-group-item device_list_header">
      <div class="row pad-left">
      <div class="col-sm-3 "> Device name</div>
      <div class="col-sm-3"> Device Type</div>
      <div class="col-sm-3 "> Manufacturer</div>
      <div class="col-sm-3 "> Model Number</div>
      </div>
    </li>
    {% for dev in device %}

        <a href="#collapse{{forloop.counter}}" class="list-group-item" data-toggle="collapse">
          <div class="row pad-left">
            <div class="col-sm-3">
            <span  href="{% url 'questions:deviceView' dev.device.id %}">
              {{dev.device.device_name}}
            </span>
            </div>
            <div class="col-sm-3"> {{dev.device.type_equip}}   </div>
            <div class="col-sm-3"> {{dev.device.manufacturer}} </div>
            <div class="col-sm-3"> {{dev.device.model_number}}
              {% if dev %}
              <div class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></div>
              {% else %}
              <div style="margin-right: 1em;" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></div>
              {% endif %}
            </div>
          </div>
        </a>

        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
          <h5>{{dev.device.device_name}} Questions:</h5>
            <ul class="list-group">
              {% for q in dev %}
                <li class="list-group-item">
                  {{q.question.question_text}}
                  {% if q %}
                  <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                  {% else %}
                  <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                  {% endif %}
                </li>

              {% endfor %}
            </ul>
        </div>

    {% endfor %}
  </ul>
</ul>



{% endblock %}
