form {
    text-align: center;
    border: solid 3px black;
    padding: 2em 5em 2em 5em;
}

.container {
    max-width: 800px;
}

label {
    font-size: 16px;
}

.form-control {
    margin-bottom: 1em;
}

.item-input {
    margin-bottom: 1em;
}

.loc-question {
    margin-bottom: 1em;
}

.add-question {
    display: block;
    margin-bottom: 1em;
}

.add-loc-question {
    display: block;
    margin-bottom: 1em;
}

.custom-control {
    margin-right: 1em;
    margin-bottom: 1em;
}

#devices_label {
    margin-bottom: 1em;
}
